@model PizzaOrderingSystem.Web.ViewModels.OrderViewModels.OrderDetailsViewModel

@{
    ViewData["Title"] = "Order Details";
}

<div class="container-fluid">

    <div class="container">

        <!-- Main content -->
        <div class="row">
            <div class="col-lg-8">
                <!-- Details -->
                <div class="card mb-4 bg-dark text-white">
                    <div class="card-body">
                        <div class="mb-3 d-flex justify-content-between">
                            <div>
                                <span class="me-3">@Model.TimeOfOrder</span>
                                <span class="me-3">#@Model.OrderId</span>
                                <span class="me-3">@Model.PaymentType</span>
                                <span class="badge rounded-pill bg-info">@Model.Status</span>
                            </div>
                        </div>
                        <table class="table table-borderless bg-dark text-white">
                            <tbody>
                                @foreach (var product in Model.Products)
                               {
                                    <tr>
                                        <td>
                                            <div class="d-flex mb-2">
                                                <div class="flex-shrink-0">
                                                    <img src="@product.Product.ImageUrl" alt="" width="35" class="img-fluid">
                                                </div>
                                                <div class="flex-lg-grow-1 ms-3">
                                                    <h6 class="small mb-0">@product.Product.Name</h6>
                                                    <span class="small">@product.Product.Description</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@product.Quantity</td>
                                        <td class="text-end">$@product.Product.Price</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2">Subtotal</td>
                                    <td class="text-end">@Model.TotalPrice</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Shipping</td>
                                    <td class="text-end">$0.00</td>
                                </tr>
                                <tr class="fw-bold">
                                    <td colspan="2">TOTAL</td>
                                    <td class="text-end">@Model.TotalPrice</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="d-flex">
                    <form asp-controller="Pdf" asp-action="CreateDocument">
                        <button class="btn btn btn-dark text-white mb-4" type="submit">Download Invoice</button>
                        <a class="btn btn-dark text-white mb-4" asp-controller="Product" asp-action="Index">Back to Menu</a>
                    </form>                  
                </div>
                <!-- Payment -->
                <div class="card mb-4 bg-dark text-white">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="h6">Payment Method</h3>
                                <p>
                                    @Model.PaymentType <br>
                                    Total: @Model.TotalPrice <span class="badge bg-success rounded-pill">@Model.PaymentType</span>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <h3 class="h6">Billing address</h3>
                                <address>
                                    <strong>@Model.Recipient</strong><br>
                                    @Model.RecipientStreet @Model.RecipientStreetNumber<br>
                                    @Model.RecipientCity, @Model.RecipientPostalCode<br>
                                    @Model.RecipientPhone
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-4 bg-dark text-white">
                    <!-- Shipping information -->
                    <div class="card-body">
                        <h3 class="h6">Shipping Information</h3>
                        <hr>
                        <h3 class="h6">Address</h3>
                        <address>
                            <strong>@Model.Recipient</strong><br>
                            @Model.RecipientStreet @Model.RecipientStreetNumber<br>
                            @Model.RecipientCity, @Model.RecipientPostalCode<br>
                            @Model.RecipientPhone
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>