@model PizzaOrderingSystem.Web.ViewModels.OrderViewModels.OrderDetailsViewModel

@{
    ViewData["Title"] = "Order Details";
}

<div class="container-fluid">
    <div class="container">
        <!-- Title -->
        <div class="d-flex justify-content-between align-items-center py-3">
            <h2 class="h5 mb-0 text-dark">Order : @Model.OrderId</h2>
        </div>

        <!-- Main content -->
        <div class="row">
            <div class="col-lg-8">
                <!-- Details -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-3 d-flex justify-content-between">
                            <div>
                                <span class="me-3">@Model.TimeOfOrder</span>
                                <span class="me-3">#@Model.OrderId</span>
                                <span class="me-3">@Model.PaymentType</span>
                                <span class="badge rounded-pill bg-info">@Model.Status</span>
                            </div>
                            <div class="d-flex">
                                <div class="dropdown">
                                    <button class="btn btn-link p-0 text-muted" type="button" data-bs-toggle="dropdown">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Edit</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i> Print</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <table class="table table-borderless">
                            <tbody>
                                @foreach (var product in Model.Products)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex mb-2">
                                                <div class="flex-shrink-0">
                                                    <img src="~/img/@product.Product.ImageUrl" alt="" width="35" class="img-fluid">
                                                </div>
                                                <div class="flex-lg-grow-1 ms-3">
                                                    <h6 class="small mb-0">@product.Product.Name</h6>
                                                    <span class="small">@product.Product.Description</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@product.Quantity</td>
                                        <td class="text-end">$@product.Product.Price</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2">Subtotal</td>
                                    <td class="text-end">@Model.TotalPrice</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Shipping</td>
                                    <td class="text-end">$0.00</td>
                                </tr>
                                <tr class="fw-bold">
                                    <td colspan="2">TOTAL</td>
                                    <td class="text-end">@Model.TotalPrice</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!-- Payment -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="h6">Payment Method</h3>
                                <p>
                                    @Model.PaymentType <br>
                                    Total: @Model.TotalPrice <span class="badge bg-success rounded-pill">@Model.PaymentType</span>
                                </p>
                                <a class="btn btn-dark mt-3" asp-controller="Order" asp-action="UserOrders">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
</div>