@using PizzaOrderingSystem.Common
@model PizzaOrderingSystem.Web.ViewModels.ProductViewModels.AllProductsViewModel


<div class="row mt-4">
    <div class="col-md-3">
        <p>
            <a class="btn btn-dark btn-lg" asp-controller="Product" asp-action="Create">Create new product</a>
        </p>
        <p>
            <a class="btn btn-dark btn-lg" asp-controller="Category" asp-action="Create">Create new category</a>
        </p>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model.Products)
    {
        <div class="col">
            <div class="card h-100 bg-dark text-white mb-3" style="max-width: 28rem">
                <img src="@item.ImageUrl" class="img-fluid rounded-start" alt="image">
                <div class="card-body">
                    <h5 class="card-title text-white">@item.Name</h5>
                    <h5 class="card-title">$ @item.Price</h5>
                    <p class="card-text">@item.Description</p>
                    <div class="mt-4">
                        <a class="btn btn-white" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-white" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <button type="button" class="btn btn-danger" data-mdb-toggle="modal" data-mdb-target="#exampleModal-@item.Id">
                            Delete
                        </button>
                        <partial name="_DeleteProductModalPartial" model="item" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
