@model PizzaOrderingSystem.Web.ViewModels.Administration.Dashboard.IndexViewModel
@using PizzaOrderingSystem.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<h2 class="text-dark">Welcome to administration area!</h2>
<h2 class="text-dark">You can add, delete or edit products.</h2>
<h2 class="text-dark">You can add categories.</h2>
<h2 class="text-dark">You can delete reviews.</h2>
<h2 class="text-dark">You can add restaurants.</h2>

<div class="container py-5 bg-dark text-white" style="border-radius: 1rem;">
	<h1 class="ml-4 mb-6">@this.ViewData["Title"]</h1>
	<div class="row ml-4 fa-2x">
		<div class="four col-md-3">
			<div class="counter-box colored">
				<i class="fa fa-thumbs-o-up"></i>
				<span class="counter">@Model.ReviewsPublished</span>
				<p>Reviews Published</p>
			</div>
		</div>
		<div class="four col-md-3">
			<div class="counter-box">
				<i class="fa fa-group"></i>
				<span class="counter">@Model.RegisteredUsers</span>
				<p>Registered Clients</p>
			</div>
		</div>
		<div class="four col-md-3">
			<div class="counter-box">
				<i class="fa  fa-shopping-cart"></i>
				<span class="counter">@Model.AvailableProducts</span>
				<p>Available Products</p>
			</div>
		</div>
		<div class="four col-md-3">
			<div class="counter-box">
				<i class="fa  fa-user"></i>
				<span class="counter">@Model.OrdersMade</span>
				<p>Orders placed</p>
			</div>
		</div>
	</div>
</div>