@using PizzaOrderingSystem.Common
@model IEnumerable<PizzaOrderingSystem.Web.ViewModels.ShopViewModels.ShopViewModel>

@{
    ViewData["Title"] = "Restaurants";
}

<div class="row mt-4">
    <div class="col-md-3">

        @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <p>
                <a class="btn btn-lg btn-dark" asp-controller="Shop" asp-action="Create">Add new restaurant</a>
            </p>        
        }
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 ">
    @foreach (var shop in Model)
    {
        <div class="col">
            <div class="card h-100 bg-dark text-white">
                <img src=@shop.ImageUrl class="card-img-top" alt="Image" />
                <div class="card-body">
                    <h4 class="card-title text-white">@shop.Name</h4>
                    <h5 class="card-title mt-3">@shop.Description</h5>
                    <h5 class="card-title mt-3">Phone Number: @shop.PhoneNumber</h5>
                    <h5 class="card-title mt-3">Address: @shop.City - bul @shop.Street  @shop.StreetNumber</h5>
                </div>
            </div>
        </div>
    }
</div>