@using PizzaOrderingSystem.Common
@model PizzaOrderingSystem.Web.ViewModels.ReviewViewModels.AllReviewsViewModel


@{
    ViewData["Title"] = "Reviews";
}

<div class="mt-2">
    <h1>Reviews</h1>
</div>

<div class="container mt-0 bg-success">
    <div id="reviews" class="review-section">
      
        @if (User.Identity.IsAuthenticated && !User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <a class="btn btn-dark" asp-controller="Review" asp-action="Create">Add Review</a>
        }
        <div class="review-list mt-3 bg-success">
            <ul>
                <li>
                    <h4 class="m-0">@Model.Reviews.Count Reviews</h4>
                </li>
                @foreach (var item in Model.Reviews)
                {
                    <li>
                        <div class="d-flex">
                            <div class="right">
                                <h4>
                                    @item.AuthorName
                                </h4>
                                <div class="review-description">
                                    <p>
                                        @item.Content
                                    </p>
                                </div>
                                <span class="publish py-3 d-inline-block w-100 text-black">@item.PublishedOn</span>
                            </div>
                        </div>
                        @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <a class="btn btn-dark" asp-controller="Review" asp-action="Delete" asp-route-id="@item.Id">Delete Review</a>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
