@model PizzaOrderingSystem.Web.ViewModels.ShoppingCart.ShoppingCartViewModel

@{
    ViewData["Title"] = "Shopping Cart";
}

<section class="h-100 h-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0 bg-dark">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5 text-white">
                                        <h2 class="fw-bold mb-0 text-white">Shopping Cart</h2>
                                        <h6 class="mb-0 text-white">@Model.CartItems.Count items</h6>
                                    </div>
                                    <hr class="my-4 bg-white">
                                    @foreach (var item in Model.CartItems)
                                   {
                                        <div class="row mb-3 d-flex justify-content-between align-items-center text-white">
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <img src="~/img/@item.ImageUrl" class="img-fluid rounded-3" alt="Cotton T-shirt">                                           
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                <h6 class="text-white mb-0">@item.ItemName</h6>
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                <button class="btn btn-link px-2">
                                                    <a class="text-white" asp-controller="ShoppingCart" asp-action="DecreaseQuantity" asp-route-id="@item.Id">
                                                    <i class="fas fa-minus"></i>
                                                    </a>
                                                </button>
                                                <input id="form1" min="0" name="quantity" value=@item.Quantity type="number"
                                                   class="form-control form-control-sm" />

                                                <button class="btn btn-link px-2">
                                                    <a class="text-white" asp-controller="ShoppingCart" asp-action="IncreaseQuantity" asp-route-id="@item.Id">
                                                    <i class="fas fa-plus"></i>
                                                    </a>
                                                </button>
                                            </div>
                                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                <h6 class="mb-0 text-white">€ @item.ItemPrice</h6>
                                            </div>
                                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                <a class="text-white" asp-controller="ShoppingCart" asp-action="Remove" asp-route-id="@item.Id"><i class="fas fa-times"></i></a>
                                            </div>
                                        </div>
                                    }

                                    <div class="pt-5">
                                        <h6 class="mb-0">
                                            <a class="btn btn-white" asp-controller="Product" asp-action="Index">
                                               Back to menu
                                            </a>
                                            <a class="btn btn-white" asp-controller="ShoppingCart" asp-action="Clear">
                                               Clear cart
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-uppercase">items : @Model.CartItems.Count</h5>
                                        <h5>€ @Model.Total</h5>
                                    </div>

                                    <h5 class="text-uppercase mb-3">Shipping : Free</h5>
                                    <hr class="my-4">
                                    <h5 class="text-uppercase mb-3">Expected Delivery : @Model.ExpectedDelivery</h5>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-5">
                                        <h5 class="text-uppercase">Total price</h5>
                                        <h5>€ @Model.Total</h5>
                                    </div>

                                    <button type="button" class="btn btn-dark btn-block btn-lg"
                                            data-mdb-ripple-color="dark">
                                        <a class="btn btn-dark" asp-controller="Order" asp-action="Confirm">       
                                            Proceed To Checkout
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>