@using PizzaOrderingSystem.Common
@model PizzaOrderingSystem.Web.ViewModels.ProductViewModels.AllProductsViewModel

@{
    ViewData["Title"] = "Drinks";
}

<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand ms-lg-3">Menu</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-dark" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="IndexPizza">Pizza</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="IndexSalads">Salads</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="IndexDesserts">Desserts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="IndexDrinks">Drinks</a>
            </li>
        </ul>
    </div>
</nav>

<div class="row mt-4 justify-content-center">
    @foreach (var item in Model.Products)
    {
        <div class="card mb-2" style="max-width: 400px;">
            <div class="row g-0">
                <div class="col-md-4 mt-2 mb-2">
                    <img src="~/img/@item.ImageUrl" class="img-fluid rounded-start" alt="image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Name: @item.Name</h5>
                        <h5 class="card-title">Price: @item.Price$</h5>
                        <h5 class="card-title">@item.Description</h5>
                        <div>
                            <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            @if (User.Identity.IsAuthenticated && !User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                <a class="btn btn-dark" asp-controller="Order" asp-action="Create" asp-route-id="@item.Id">Add</a>
                            }
                            @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>