@using PizzaOrderingSystem.Common
@model PizzaOrderingSystem.Web.ViewModels.ProductViewModels.AllProductsViewModel

@{
    ViewData["Title"] = "Menu";
}

<div class="row">
    <div class="col-md-4">
        <h1>Menu</h1>

        @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <p>
                <a class="btn btn-dark" asp-controller="Product" asp-action="Create">Create new product</a>
            </p>
            <p>
                <a class="btn btn-dark" asp-controller="Category" asp-action="Create">Create new category</a>
            </p>
        }
    </div>
    <div class="col-md-4 justify-content-end">
        <form method="get" asp-controller="Product" asp-action="Index" class="mt-5">
            <div class="input-group">
                @if (Model.SearchQuery == null)
                {
                    <input type="text" name="search" class="form-control" placeholder="Search....">
                }
                else
                {
                    <input type="text" name="search" class="form-control" value="@Model.SearchQuery">
                }
                <div class="input-group-btn">
                    <button class="btn btn-dark" type="submit">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="row mt-4 justify-content-center">
    @foreach (var item in Model.Products)
    {
        <div class="card m-2" style="width: 20rem;">
            <img class="card-img-top" src="~/img/@item.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Name: @item.Name</h5>
                <h5 class="card-title">Name: @item.Price$</h5>
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (User.Identity.IsAuthenticated && !User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <a class="btn btn-dark" asp-controller="Order" asp-action="Create" asp-route-id="@item.Id">Add</a>
                }
                @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </div>
        </div>
    }
</div>