@using PizzaOrderingSystem.Common
@model PizzaOrderingSystem.Web.ViewModels.ProductViewModels.AllProductsViewModel

@{
    ViewData["Title"] = "Drinks";
}


<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand ms-lg-3" asp-action="Index">Menu</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="IndexPizza">Pizza</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="IndexSalads">Salads</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="IndexDesserts">Desserts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="IndexDrinks">Drinks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="IndexSauces">Sauces</a>
            </li>
        </ul>
    </div>
</nav>


<div class="row mt-4 justify-content-center">
    @foreach (var item in Model.Products)
    {
        <div class="card mb-2" style="max-width: 400px;">
            <div class="row g-0">
                <div class="col-md-4 mt-2 mb-2">
                    <img src="~/img/@item.ImageUrl" class="img-fluid rounded-start" alt="image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <h5 class="card-title">$ @item.Price</h5>
                        <h5 class="card-title">@item.Description</h5>
                        <div>
                            <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            @if (User.Identity.IsAuthenticated && !User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                <a class="btn btn-dark" asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@item.Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket3-fill" viewBox="0 0 16 16">
                                        <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.468 15.426.943 9h14.114l-1.525 6.426a.75.75 0 0 1-.729.574H3.197a.75.75 0 0 1-.73-.574z" />
                                    </svg>
                                    Add
                                </a>
                            }
                            @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>