@using PizzaOrderingSystem.Common
@model IEnumerable<PizzaOrderingSystem.Web.ViewModels.ShopViewModels.ShopViewModel>

@{
    ViewData["Title"] = "Restaurants";
}

<div id="map-container-google-1" class="z-depth-1 map-container mb-5">
    <iframe src="https://maps.google.com/maps?q=sofia&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            style="border:0" allowfullscreen></iframe>
</div>

<div class="row mt-4">
    <div class="col-md-3">

        @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <p>
                <a class="btn btn-dark" asp-controller="Shop" asp-action="Create">Add new restaurant</a>
            </p>        
        }
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 ">
    @foreach (var shop in Model)
    {
        <div class="col">
            <div class="card h-100 bg-success">
                <img src=@shop.ImageUrl class="card-img-top" alt="Skyscrapers" />
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">
                        @shop.Name
                    </p>
                    <h5 class="card-title">Working Hours:</h5>
                    <p class="card-text">
                        @shop.Description
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">@shop.City @shop.Street @shop.StreetNumber</small>
                </div>
            </div>
        </div>
    }
</div>